html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 300px;
    min-height: 370px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 60px;
    width: 60px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.no-match {
    cursor: default;
    background: tomato;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the reset button
 */
.restart .fa {
    font-size: 25px;
}

/*
 * Styles for winning popup
 */

 .overlay {
     position: absolute;
     top: 0;
     z-index: 999;
     background: rgba(46, 61, 73, 0.5);
     width: 100vw;
     height: 100vh;
 }

 .modal {
     padding: 50px;
     text-align: center;
     background-color: #fff;
     width: 300px;
     margin: 0 auto;
     margin-top: 50px;
 }

 .play-again-btn {
    background: #02ccba;
    padding: 10px 25px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
 }

 /*
  * Media Queries
  */
  @media only screen and (min-width: 636px) {

    .restart .fa {
        font-size: 18px;
    }

    .deck {
        width: 500px;
        min-height: 550px;
        padding: 32px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card {
        height: 95px;
        width: 95px;
    }

    .modal {
        width: 600px;
    }
}

@media only screen and (min-width: 1000px) {

    .deck {
        width: 660px;
        min-height: 680px;
    }
    
    .deck .card {
        height: 125px;
        width: 125px;
    }
}